{% load static %}
<!DOCTYPE html>
<HTML>
	<head>
    	<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}"/>
    	<title>{% block title %}{% endblock %}</title>
	</head>
	<BODY>
		{% block content %}{% endblock %}
	</BODY>
</HTML>
