{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Jugadores{% endblock %}
{% block content %}

<h2>Lista de Jugadores</h2>
<table class="table table-dark">
  {% for jugador in jugadores %}
  <tr>
    <td>{{ jugador.nombrejugador }}</td>
    <td>{{ jugador.apellidojugador }}</td>
    <td>{{ jugador.apodo }}</td>
    <td>{{ jugador.numero }}</td>
    <td>{{ jugador.posicion }}</td>
    <td>{{ jugador.nombreequipo }}</td>
    <td>{{ jugador.equipoanterior }}</td>
    <td>{{ jugador.activo }}</td>
    <td><a href="{% url 'detallesjugadores' jugador.id %}">Ver detalles</a></td>
  </tr>
  {% endfor %}
</table>

<form method="GET">
<div class="form-check">
  <input class="form-check-input" type="radio" name="tipo" id="equipo" value="equipo" checked>
  <label class="form-check-label" for="equipo">
    Busqueda por equipo
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="tipo" id="posicion" value="posicion">
  <label class="form-check-label" for="posicion">
    Busqueda por posicion
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="tipo" id="cambio" value="cambio">
  <label class="form-check-label" for="cambio">
    Busqueda por equipo anterior
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="tipo" id="despedidos" value="despedidos">
  <label class="form-check-label" for="despedidos">
    Busqueda por salida del equipo
  </label>
</div>

<br>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" name="q">
  <div class="input-group-append">
    <button class="btn btn-outline-dark" type="button" id="button-addon2">Buscar</button>
  </div>
</div>
</form>

{% endblock %}
