{% extends "base.html" %}
{% load static %}

{% block title %}Detalles de Jugadores{% endblock %}
{% block content %}
<h2>Detalles</h2>
<table class="table table-dark">
  <tr>
    <td>{{ jugador.nombrejugador }}</td>
    <td>{{ jugador.apellidojugador }}</td>
    <td>{{ jugador.apodo }}</td>
    <td>{{ jugador.numero }}</td>
    <td>{{ jugador.posicion }}</td>
    <td>{{ jugador.nombreequipo }}</td>
    <td>{{ jugador.equipoanterior }}</td>
    <td>{{ jugador.activo }}</td>
    <td><a href="{% url 'listajugadores' %}">Regresar</a></td>
  </tr>
</table>


{% endblock %}
