{% extends "base.html" %}
{% load static %}

{% block title %}Lista de equipos{% endblock %}
{% block content %}
<h2>Lista de equipos</h2>
<table class="table table-dark">
  {% for equipo in equipos %}
  <tr>
    <td>{{ equipo.nombreequipo }}</td>
    <td>{{ equipo.numerojugadores }}</td>
    <td>{{ equipo.entrenador }}</td>
    <td>{{ equipo.campeonatos }}</td>
    <td>{{ equipo.temporada }}</td>
    <td><a href="{% url 'detallesequipos' equipo.id %}">Ver detalles</a></td>

  </tr>
  {% endfor %}
</table>

{% endblock %}
