{% extends "base.html" %}
{% load static %}

{% block title %}Detalles de Equipos{% endblock %}
{% block content %}
<h2>Detalles</h2>
<table class="table table-dark">
  <tr>
    <td>{{ equipo.nombreequipo }}</td>
    <td>{{ equipo.numerojugadores }}</td>
    <td>{{ equipo.entrenador }}</td>
    <td>{{ equipo.campeonatos }}</td>
    <td>{{ equipo.temporada }}</td>
    <td><a href="{% url 'listaequipos' %}">Regresar</a></td>
  </tr>
</table>

{% endblock %}
