{% extends "base.html" %}
{% load static %}

{% block title %}Lista de estadios{% endblock %}
{% block content %}
<h2>Lista de Estadios</h2>
<table class="table table-dark">
  {% for estadio in estadios %}
  <tr>
    <td>{{ estadio.nombreestadio }}</td>
    <td>{{ estadio.nombreequipo }}</td>
    <td>{{ estadio.capacidad }}</td>
    <td>{{ estadio.mascota }}</td>
    <td>{{ estadio.activo }}</td>
    <td><a href="{% url 'detallesestadios' estadio.id %}">Ver detalles</a></td>

  </tr>
  {% endfor %}
</table>

{% endblock %}
