{% extends "base.html" %}
{% load static %}

{% block title %}Detalles de estadios{% endblock %}
{% block content %}
<h2>Detalles</h2>
<table class="table table-dark">
  <tr>
    <td>{{ estadio.nombreestadio }}</td>
    <td>{{ estadio.nombreequipo }}</td>
    <td>{{ estadio.capacidad }}</td>
    <td>{{ estadio.mascota }}</td>
    <td>{{ estadio.activo }}</td>
    <td><a href="{% url 'listaestadios' %}">Regresar</a></td>
  </tr>
</table>
{% endblock %}
